<?xml version="1.0"?>
<launch>

  <include file="$(find-pkg-share racecar_viz)/launch/rviz.launch"/>

  <!-- ros2 launch nav2_bringup bringup_launch.py use_sim_time:=False autostart:=False map:=/path/to/your-map.yaml -->
  <include file="$(find-pkg-share nav2_bringup)/launch/bringup_launch.py">
    <arg name="use_sim_time" value="False"/>
    <arg name="autostart" value="True"/>
    <arg name="map" value="$(find-pkg-share racecar_navigation)/maps/my_map.yaml"/>
    <arg name="params_file" value="$(find-pkg-share racecar_navigation)/config/nav2_params.yaml"/>
  </include>
</launch>