<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="false" />
  <arg name="enable_ekf" default="$(env ENABLE_EKF true)"/>
  
  <node pkg="racecar_control" exec="racecar_controller" name="racecar_controller" output="screen">
    <param name="use_sim_time" value="$(var use_sim_time)" />
    <param from="$(find-pkg-share racecar_control)/config/controller.yaml" />
    <remap from="ackermann_cmd" to="racecar_controller/ackermann_cmd" />
  </node>

  <group if="$(var enable_ekf)">
    <node pkg="robot_localization" exec="ekf_node" name="ekf_node" output="screen">
      <param name="use_sim_time" value="$(var use_sim_time)" />
      <param from="$(find-pkg-share racecar_control)/config/robot_localization.yaml" />
    </node>
  </group>
  <node pkg="ackermann_mux" exec="ackermann_mux" name="ackermann_mux" output="screen">
    <param from="$(find-pkg-share racecar_control)/config/ackermann_mux.yaml" />
    <remap from="ackermann_cmd_out" to="racecar_controller/ackermann_cmd" />
  </node>
  
</launch>