<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="$(env JOY_DEVICE /dev/input/js0)" />
  <arg name="joy_dev_ff" default="$(env JOY_DEVICE /dev/input/event2)" />
  <arg name="joystick" default="true" />
  <arg name="usb" default="false" />

  <let name="teleop_params" value="$(find-pkg-share racecar_control)/config/teleop_ps4.yaml" unless="$(var usb)"/>
  <let name="teleop_params" value="$(find-pkg-share racecar_control)/config/teleop_ps4_usb.yaml" if="$(var usb)"/>

  <group if="$(var joystick)">
    <push-ros-namespace namespace="bluetooth_teleop" />

    <node pkg="joy_linux" exec="joy_linux_node" name="joy_node" output="screen">
      <param from="$(find-pkg-share racecar_control)/config/teleop_ps4.yaml" />
      <param name="dev" value="$(var joy_dev)" />
      <param name="dev_ff" value="$(var joy_dev_ff)" />
    </node>

    <node pkg="teleop_ackermann_joy" exec="teleop_node" name="teleop_ackermann_joy" output="screen">
      <!-- If USB teleop_ps4_usb.yaml, else teleop_ps4.yaml -->
      <param from="$(var teleop_params)" />
    </node>
  </group>
  <!-- <group>
    <push-ros-namespace namespace="ackermann_marker_server" />
    <node pkg="interactive_marker_ackermann_server" exec="marker_server" name="ackermann_marker_server">
        <param name="link_name" value="base_link" />
    </node>
  </group> -->
</launch>